<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Cereal Analysis Prediction</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>
.login{
top: 20%;
}
</style>

<body>
<div class="login">


<h1>Cereal AnalysisBased on Ratings by using 
Machine Learning Techniques
<span class="label label-default"></span></h1>

            <div class='description'>
    			<p>A customer wants to buy some food items with high dietary benefits so that he wants to know which food item has high dietary benefits. It is so difficult to choose an item .Usually a customer expects to consume dietary cereals with high proteins, fiber and low sugars, fats. Predicting a brand with high dietary cereals became a big issue.</p>
    			<p>We use machine learning algorithms to predict the food with high beneficiary diet. The model can predict the rating of the food more accurate by giving the inputs which are the cereals and ingredients present in the food. Thus a customer can get high dietary food by the rating of the food given to it from the cereals and ingredients present. The rating is predicted using the neural networks model.</p>
    		</div>

              <form action="/assesment">
                 <button type="submit" class="btn btn-primary btn-block btn-large">Click me to continue with prediction</button>
             </form>


</div>
</body>
</html>